*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

@media screen and (max-width: 2560px) {
  .section1 {
    display: block;
    width: 100%;
    height: 100vh;
    /* margin-bottom: 140px; */
  }
  
  .hero {
    display: flex;
    align-items: center;
    flex-flow: column;
    background-image: linear-gradient(180deg, #00f8, #fff2), url("./images/hero-image.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    padding: 0 10px;
    width: inherit;
    height: 100vh;
    gap: 1.5rem;
  }
  
  .hero-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: column;
    width: 100vw;
    background-color: brown;
  }
  
  .hero-navbar-phoneview {
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    /* padding: 0 20px; */
    width: 75vw;
    max-width: 75vw;
    z-index: 2;
    background-color: #fff;
    scroll-behavior: smooth;
    /* border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px; */
    border-bottom: ridge 4px #0000ffa9;
  }
  
  .hero-logo {
    font-size: 2em;
    color: #00f;
    /* background-color: aqua; */
  }
}
